<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/common_css :: header"></div>
<title>LB_Youtube_新增歌曲</title>
</head>


<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/common_sidebar :: sidebar"></div>
		<!-- End of Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/common_topbar :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid" th:object="${Video_Info}">

					<div class="row">
						<div class="col-md-5 col-lg-5 col-12 ">
							<div class="card text-left border border-dark">
								<iframe id="iframe_video" class="card-img-top" width="600"
									height="350" th:src="${yt_url}" title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen> </iframe>
								<div class="card-header">
									<a th:href="*{channelId}" class="card-link"> <img
										style="width: 50px; height: 50px; border-radius: 50%;" alt="頻道頭像"
										th:src="*{channelImg}"><label th:text="*{channelTitle}"></label></a>
								</div>

								<ul class="list-group list-group-flush">
									<label>影片標題:</label>
									<li class="list-group-item" th:text="*{title}"></li>
									<label>上傳日期:</label>
									<li class="list-group-item" th:text="*{publishDate}"></li>

								</ul>

							</div>

						</div>

						<div class="col-md-7 col-lg-7 col-12">
							<div class="card text-left border border-dark">
								<div class="card-body">
									<h5 class="card-title">
										影片資訊:
										<button class="btn btn-primary" id="collapse_button">
											<顯示資訊>
										</button>
									</h5>

									<div type="text" style="display: none" id="collapseOne"
										th:text="*{description}"></div>
								</div>
							</div>

						</div>
						<div class="row">
							<h2 class="h2 sm-2 text-gray-800 col">
								音樂清單:<small th:text="${listname}"></small>
							</h2>

						</div>



						<table class="table table-sm table-bordered " id="dataTable"
							width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>影片名稱</th>															
									<th>頻道名</th>																		
									<th>URL</th>
								</tr>
							</thead>

							<tbody >
								<tr valign="middle"
									th:each="videos:${videoinfo_list}">
							
									<td><a th:href="@{/setvideoinfo(v_id =${videos.video_id})}"><span th:text="${videos.title}+' / '+${videos.singer}+'/'+${videos.video_id}"></span></a></td>																
								
									<td> <img alt="" th:src="${videos.thumbnailUrl}" style="width: 30px; height: 30px; border-radius: 50%;">
											<span th:text="${videos.channel_title}"></span>
									</td>
									<td th:text="${videos.youtube_id}"></td>
								</tr>
							</tbody>
						</table>

						<!--  判斷表示式：-->
						<!--  
						gt：great than（大於）>
						ge：great equal（大於等於）>=
						eq：equal（等於）==
						lt：less than（小於）<
						le：less equal（小於等於）<=
						ne：not equal（不等於）!= 
						-->
						<!--  判斷表示式： -->
						<!-- Page of table -->
						<nav aria-label="Page navigation example" >
							<div th:if="${videoinfo_list.getTotalPages() eq 0}">
								<ul class="pagination justify-content-end">
									<li>無資料</li>
								</ul>
							</div>
							<div th:if="${videoinfo_list.getTotalPages() gt 0}">
								<div class="dataTables_info" id="table_info">當前第
									[[${videoinfo_list.getNumber()+1}]] 頁 總計 [[${videoinfo_list.getTotalPages()}]] 頁 共 [[${videoinfo_list.getTotalElements()}]] 個清單 :</div>
								<ul class="pagination justify-content-end">

									<!-- 首页 -->
									<li><a th:href="@{/setmycollectiontablepage(pageNum=0)}">首頁
									</a></li>
									<!-- previous -->
									<li class="page-item disabled"
										th:if="${videoinfo_list.hasPrevious()}"><a
										th:href="@{/setmycollectiontablepage(pageNum=${videoinfo_list.previousPageable().getPageNumber()})}"
										th:text="上一頁  "></a></li>
									<!-- Middle -->

									<li
										th:each="pageNum:${#numbers.sequence(0, videoinfo_list.getTotalPages() - 1)}">
										<a th:href="@{/setmycollectiontablepage(pageNum=${pageNum})}"
										th:text="${pageNum + 1}"
										th:if="${pageNum ne videoinfo_list.pageable.getPageNumber()}"></a>
										<a th:href="@{/setmycollectiontablepage(pageNum= ${pageNum})}"
										th:text="${pageNum + 1}"
										th:if="${pageNum eq videoinfo_list.pageable.getPageNumber()}"
										th:style="'font-weight:bold;background: #6faed9;'"></a>
									</li>
									<!-- next -->
									<li th:if="${videoinfo_list.hasNext()}"><a
										th:href="@{/setmycollectiontablepage(pageNum=${videoinfo_list.nextPageable().getPageNumber()})}"
										th:text="  下一頁"></a></li>
									<!-- final -->
									<li><a
										th:href="@{/setmycollectiontablepage(pageNum=${videoinfo_list.getTotalPages() - 1})}">
											末頁</a></li>
								</ul>
							</div>
						</nav>

						<!-- Page of table -->

					</div>
				</div>
				<!-- End Page Content -->


				<div class="container-fluid"></div>
			</div>
			<!-- End of Main Content -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<!-- Footer -->
	<div th:replace="fragments/common_footer :: footer"></div>
	<!-- End of Footer -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/logout_modal :: logout_modal"></div>

	<!-- Bootstrap core JavaScript-->
	<div th:replace="fragments/common_javascript :: javascript"></div>

</body>

</html>