<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/common_css :: header"></div>
<!-- jquery ui CDN -->
<script th:src="@{https://code.jquery.com/ui/1.12.0/jquery-ui.js}"
	integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
	crossorigin="anonymous"></script>
<!-- jquery themes -->
<link
	th:href="@{https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}"
	rel="stylesheet">

<title>LB_Youtube_影片清單</title>

</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/common_sidebar :: sidebar"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/common_topbar :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="row">
						<h1 class="h3 mb-2 text-gray-800 col">音樂清單</h1>

						<div class="text-center col">
							<a class="large" th:href="@{/videolist}" data-toggle="modal"
								data-target="#createVideoListModal">新增撥放清單</a>
						</div>
					</div>


					<!-- DataTales Example -->
					<div class="card shadow mb-4">

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>清單名稱</th>
											<th>說明</th>
											<th>上次更新時間</th>
											<th>刪除</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="videos:${videolist}">
											<td><a class="link"
												th:href="@{/addmusic/{listid}(listid=${videos.listId})}"
												id="videolist_id"><span th:text="${videos.listName}"></span></a></td>
											<td><button id="edit_comment" th:onclick="setComment([[${videos.listId}]])">
													<img alt="edit" th:src="@{/img/pencil-fill.svg}">
												</button> <span th:text="${videos.list_comment}"></span></td>

											<td th:text="${videos.update_at}"></td>
											<th><form
													th:action="@{/deletelist/{listid}(listid=${videos.listId})}"
													method="post">
													<button type="submit">
														<img alt="trash" th:src="@{/img/trash.svg}">
													</button>
												</form></th>
										</tr>

									</tbody>
								</table>
								<nav aria-label="Page navigation example">
									<div th:if="${videolist.getTotalPages() eq 0}">
										<ul class="pagination justify-content-end">
											<li>無資料</li>
										</ul>
									</div>
									<div th:if="${videolist.getTotalPages() gt 0}">
										<div class="dataTables_info" id="table_info">當前第
											[[${current}+1]] 頁 總計 [[${pages}]] 頁 共 [[${record}]] 個清單</div>

										<ul class="pagination justify-content-end">
											<!-- 首页 -->
											<li><a
												th:href="@{/videolist/list/{id}(pageNum=0,id=${session.loginUser.memberid})}">首頁
											</a></li>
											<!-- previous -->
											<li class="page-item disabled"
												th:if="${videolist.hasPrevious()}"><a
												th:href="@{/videolist/list/{id}(pageNum=${videolist.previousPageable().getPageNumber()},id=${session.loginUser.memberid})}"
												th:text="上一頁  "></a></li>
											<!-- Middle -->
											<li
												th:each="pageNum:${#numbers.sequence(0, videolist.getTotalPages() - 1)}">
												<a
												th:href="@{/videolist/list/{id}(pageNum=${pageNum},id=${session.loginUser.memberid})}"
												th:text="${pageNum + 1}"
												th:if="${pageNum ne videolist.pageable.getPageNumber()}"></a>
												<a
												th:href="@{/videolist/list/{id}(pageNum= ${pageNum},id=${session.loginUser.memberid})}"
												th:text="${pageNum + 1}"
												th:if="${pageNum eq videolist.pageable.getPageNumber()}"
												th:style="'font-weight:bold;background: #6faed9;'"></a>
											</li>

											<!-- nexy -->
											<li th:if="${videolist.hasNext()}"><a
												th:href="@{/videolist/list/{id}(pageNum=${videolist.nextPageable().getPageNumber()},id=${session.loginUser.memberid})}"
												th:text="  下一頁"></a></li>

											<!-- final -->
											<li><a
												th:href="@{/videolist/list/{id}(pageNum=${videolist.getTotalPages() - 1},id=${session.loginUser.memberid})}">
													末頁</a></li>

										</ul>
								</nav>
							</div>
						</div>
					</div>

				</div>

				<!-- End Page Content -->


				<!-- End of Main Content -->

				<!-- Footer -->
				<div th:replace="fragments/common_footer :: footer"></div>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->
		</div>
	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- List Comment Dialog start -->
	<div id="list_comment_dialog" title="清單說明">
		<div class="form-floating">

			<textarea class="form-control" placeholder="Leave a comment here"
				id="list_comment" style="height: 100px"></textarea>
			<label for="floatingTextarea">填寫內容:</label>
		</div>
	</div>
	<!-- List Comment Dialog end -->

	<!-- Logout Modal-->
	<div th:replace="fragments/logout_modal :: logout_modal"></div>
	<!-- Create Video List Modal-->
	<div
		th:replace="fragments/createvideolist_modal :: createvideolist_modal"></div>
	<!-- Edit List Comment Modal-->

	<!-- Bootstrap core JavaScript-->
	<div th:replace="fragments/common_javascript :: javascript"></div>
</body>

</html>