<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/common_css :: header"></div>
<title>LB_Youtube_新增歌曲</title>
</head>


<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/common_sidebar :: sidebar"></div>
		<!-- End of Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/common_topbar :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid" th:object="${Video_Info}">

					<div class="row">
						<div class="col-md-5 col-lg-5 col-12 ">
							<div class="card text-left border border-dark">
								<iframe id="iframe_video" class="card-img-top" width="600"
									height="350" th:src="${yt_url}" title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen> </iframe>
								<div class="card-header">
									<a th:href="*{channelId}" class="card-link"> <img
										style="width: 50px; height: 50px; border-radius: 50%;" alt="頻道頭像"
										th:src="*{channelImg}"><label th:text="*{channelTitle}"></label></a>
								</div>

								<ul class="list-group list-group-flush">
									<label>影片標題:</label>
									<li class="list-group-item" th:text="*{title}"></li>
									<label>上傳日期:</label>
									<li class="list-group-item" th:text="*{publishDate}"></li>

								</ul>

							</div>

						</div>

						<div class="col-md-7 col-lg-7  ">


							<form th:action="@{/seturl}" method="post">
								<div class="row">
									<!-- input youtube video url  -->
									<div class="input-group col-12 col-md col-lg">
										<div class="input-group-prepend">
											<button class="btn btn-primary" type="submit">預覽</button>
										</div>
										<input type="url" class="form-control"
											placeholder="https://www.youtube.com/watch?v=Youtube_ID"
											aria-label="" aria-describedby="basic-addon1"
											th:field="*{url}" required="required" id="videoUrl">

									</div>
								</div>
							</form>

							<form id="vidoesetting" th:object="${TimeSetting}"
								th:action="@{/add/{id}/videoinfo/{videoid}(id= ${session.loginUser.memberid},videoid=${Video_Info.id})}"
								method="post">
								<h3>設定影片起始時間</h3>
								<div class="row">
									<div class="col">
										<div class="form-floating">
											<input type="number" class="form-control" id="TimeForm_hour"
												placeholder="時" step="1" min='0' max='12'
												th:field="*{time_h}" name="time_h" value="0"> <label
												class="text-gray-800" for="floatingInputGrid">時</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating">

											<input type="number" class="form-control" id="TimeForm_min"
												placeholder="分" step="1" min='0' max='59'
												th:field="*{time_m}" name="time_m" value="0"> <label
												class="text-gray-800" for="floatingInputGrid">分</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating">
											<input type="number" class="form-control" id="TimeForm_sec"
												placeholder="秒" step="1" min='0' max='59'
												th:field="*{time_s}" name="time_s" value="0"> <label
												class="text-gray-800" for="floatingInputGrid">秒</label>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-12">
										<div class="form-floating">
											<input type="number" min='0' class="form-control"
												id="TimeForm_total" th:field="*{total_time}"
												name="total_time" value="0"> <label
												class="text-gray-800" for="floatingSelectGrid">播放長度(秒數)</label>
										</div>
									</div>

									<div class="col-12">
										<button type="button" class="btn-lg btn-primary"
											id="getVideoUrl" value="試聽">試聽</button>
										<label id="label_duration"></label>

										<button type="button" class="btn-lg btn-primary"
											id="resetTimeForm">
											<img th:src="@{/img/arrow-repeat.svg}" width="20" height="20"
												class="bi bi-arrow-repeat">
										</button>
									</div>

									<div class="row">
										<hr class="sidebar-divider">

										<div class="form-floating">
											<input type="text" class="form-control" id="v_title"
												placeholder="歌名" th:text="${title}" th:field="*{title}"
												name="title"> <label class="text-gray-800"
												for="floatingInputValue">歌名:</label>
										</div>
									</div>
									<div class="row">
										<div class="form-floating">
											<input type="text" class="form-control" id="v_singer"
												placeholder="歌手" th:text="${singer}" th:field="*{singer}"
												name="singer"> <label class="text-gray-800"
												for="floatingInputValue">歌手:</label>
										</div>
									</div>

									<div class="row">
										<div class="col-12">
											<input type="hidden" th:value="${Video_Info.channelImg}" name="thumbnailUrl"> 
											<input type="hidden" th:value="${Video_Info.channelTitle}" name="channel_title">
											<input class="btn-lg btn-primary" id="addvideoinfo"	type="submit" value="新增">

										</div>
									</div>
									
								</div>
							</form>
						</div>

					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								影片資訊:
								<button class="btn btn-primary" id="collapse_button">
									<顯示資訊>
								</button>
							</h5>

							<div type="text" style="display: none" id="collapseOne"
								th:text="*{description}"></div>
						</div>
					</div>
				</div>
				<!-- End Page Content -->
				<br>

				<div class="container-fluid">
					<div class="row">
						<hr class="sidebar-divider">
						<h2 class="h2 sm-2 text-gray-800 col">
							音樂清單:<small th:text="${listname}"></small>
						</h2>


					</div>


					<div class="table-responsive border border-dark">
						<table class="table table-bordered " id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>刪除</th>
									<th>歌名</th>
									<th>歌手</th>
									<th>開始時間</th>
									<th>播放長度</th>
									<th>圖像</th>
									<th>頻道名稱</th>
									<th>更新時間</th>

								</tr>
							</thead>

							<tbody>
								<tr valign="middle" th:each="videos:${videoinfo_list}">
									<form
										th:action="@{/deletevideo/{videoid}(videoid=${videos.video_id})}"
										method="post">
										<th><button type="submit">
												<img alt="" th:src="@{/img/trash.svg}">
											</button></th>
									</form>
									<td th:text="${videos.title}"></td>
									<td th:text="${videos.singer}"></td>
									<td th:text="${videos.start_time}"></td>
									<td th:text="${videos.total_time}"></td>
									<td align='center' valign="middle"><img alt=""
										th:src="${videos.thumbnailUrl}"
										style="width: 30px; height: 30px; border-radius: 50%;"></td>
									<td th:text="${videos.channel_title}"></td>
									<td th:text="${videos.add_time}"></td>

								</tr>
							</tbody>
						</table>
						
						<nav aria-label="Page navigation example">
							<div th:if="${videoinfo_list.getTotalPages() eq 0}">
								<ul class="pagination justify-content-end">
									<li>無資料</li>
								</ul>
							</div>
							<div th:if="${videoinfo_list.getTotalPages() gt 0}">
								<div class="dataTables_info" id="table_info">當前第
									[[${videoinfo_list.getNumber()}+1]] 頁 總計
									[[${videoinfo_list.getTotalPages()}]] 頁 共
									[[${videoinfo_list.getTotalElements()}]] 筆清單</div>
								<ul class="pagination justify-content-end">

									<!-- 首页 -->
									<li><a th:href="@{/settablepage(pageNum=0)}">首頁 </a></li>
									<!-- previous -->
									<li class="page-item disabled"
										th:if="${videoinfo_list.hasPrevious()}"><a
										th:href="@{/settablepage(pageNum=${videoinfo_list.previousPageable().getPageNumber()})}"
										th:text="上一頁  "></a></li>
									<!-- Middle -->

									<li
										th:each="pageNum:${#numbers.sequence(0, videoinfo_list.getTotalPages() - 1)}">
										<a th:href="@{/settablepage(pageNum=${pageNum})}"
										th:text="${pageNum + 1}"
										th:if="${pageNum ne videoinfo_list.pageable.getPageNumber()}"></a>
										<a th:href="@{/settablepage(pageNum= ${pageNum})}"
										th:text="${pageNum + 1}"
										th:if="${pageNum eq videoinfo_list.pageable.getPageNumber()}"
										th:style="'font-weight:bold;background: #6faed9;'"></a>
									</li>

									<!-- next -->
									<li th:if="${videoinfo_list.hasNext()}"><a
										th:href="@{/settablepage(pageNum=${videoinfo_list.nextPageable().getPageNumber()})}"
										th:text="  下一頁"></a></li>
									<!-- final -->
									<li><a
										th:href="@{/settablepage(pageNum=${videoinfo_list.getTotalPages() - 1})}">
											末頁</a></li>

								</ul>
							</div>
						</nav>

						<!-- Page of table -->
					</div>

				</div>
			</div>
			<!-- End of Main Content -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<!-- Footer -->
	<div th:replace="fragments/common_footer :: footer"></div>
	<!-- End of Footer -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/logout_modal :: logout_modal"></div>

	<!-- Bootstrap core JavaScript-->
	<div th:replace="fragments/common_javascript :: javascript"></div>

</body>

</html>