<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common_css :: header">
<title>LB_Youtube_Music</title>
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/common_sidebar :: sidebar"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/common_topbar :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->

				<div class="container-fluid" th:object="${Video_Info}">



					<div class="card text-left border border-dark">
						<iframe id="iframe_video" class="card-img-top" width="600"
							height="500" src="/img/youtubelogo.png" th:src="${yt_url}"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen> </iframe>

						<ul class="list-group list-group-flush">
							<label>歌名:</label>
							<li class="list-group-item" th:text="*{title}"></li>
							<label>歌手:</label>
							<li class="list-group-item" th:text="*{singer}"></li>
						</ul>
					</div>
					<!-- End Video Iframe Card -->
					<!-- Begin of Video List tabel -->
					<h1 class="h3 mb-2 text-gray-800 col">音樂清單</h1>
					<div class="card shadow mb-4">

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-sm table-bordered" id="dataTable"
									width="100%" cellspacing="0">
									<thead>
										<tr>
											<th width="55%">播放清單</th>
											<th width="25%">頻道</th>
											<th width="20%">上次更新時間</th>
										</tr>
									</thead>

									<tbody>
										<tr valign="middle" th:each="videos:${videolist}">

											<td><a
												th:href="@{/indexsetvideoinfo(v_id =${videos.video_id})}">
													<span
													th:text="${videos.title}+' / '+${videos.singer}+'/'+${videos.video_id}"></span>
											</a></td>

											<td><img alt="" th:src="${videos.thumbnailUrl}"
												style="width: 30px; height: 30px; border-radius: 50%;">
												<span th:text="${videos.channel_title}"></span></td>
											<td th:text="${videos.add_time}"></td>
										</tr>
									</tbody>
								</table>
								<nav aria-label="Page navigation example">
									<div th:if="${videolist.getTotalPages() eq 0}">
										<ul class="pagination justify-content-end">
											<li>無資料</li>
										</ul>
									</div>
									<div th:if="${videolist.getTotalPages() gt 0}">
										<div class="dataTables_info" id="table_info">當前第
											[[${videolist.getNumber()}+1]] 頁 總計
											[[${videolist.getTotalPages()}]] 頁 共
											[[${videolist.getTotalElements()}]] 筆清單</div>

										<ul class="pagination justify-content-end">
											<!-- 首页 -->
											<li><a th:href="@{/index/list(pageNum=0)}">首頁 </a></li>
											<!-- previous -->
											<li class="page-item disabled"
												th:if="${videolist.hasPrevious()}"><a
												th:href="@{/index/list(pageNum=${videolist.previousPageable().getPageNumber()})}"
												th:text="上一頁  "></a></li>
											<!-- Middle -->
											<li
												th:each="pageNum:${#numbers.sequence(0, videolist.getTotalPages() - 1)}">
												<a th:href="@{/index/list(pageNum=${pageNum})}"
												th:text="${pageNum + 1}"
												th:if="${pageNum ne videolist.pageable.getPageNumber()}"></a>
												<a th:href="@{/index/list(pageNum= ${pageNum})}"
												th:text="${pageNum + 1}"
												th:if="${pageNum eq videolist.pageable.getPageNumber()}"
												th:style="'font-weight:bold;background: #6faed9;'"></a>
											</li>

											<!-- nexy -->
											<li th:if="${videolist.hasNext()}"><a
												th:href="@{/index/list(pageNum=${videolist.nextPageable().getPageNumber()})}"
												th:text="  下一頁"></a></li>

											<!-- final -->
											<li><a
												th:href="@{/index/list/page(pageNum=${videolist.getTotalPages() - 1})}">
													末頁</a></li>

										</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- End of Video List Tabel -->







				</div>
				<!-- End Page Content -->



				<!-- Footer -->
				<div th:replace="fragments/common_footer :: footer"></div>
				<!-- End of Footer -->

			</div>
			<!-- End of Main Content -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/logout_modal :: logout_modal"></div>

	<!-- Bootstrap core JavaScript-->
	<div th:replace="fragments/common_javascript :: javascript"></div>

</body>

</html>