<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/common_css :: header"></div>
<title>LB_Youtube_Login</title>
</head>

<body class="bg-gradient-primary">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Welcome Back!!</h1>
									</div>
									<form class="member" method="post" th:action="@{/login}">
										<label style="color: red" th:text="${msg}"></label>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												id="exampleInputEmail" placeholder="Enter Your Account..."
												name="userAccount">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="exampleInputPassword" placeholder="Password"
												name="passWord">
										</div>
										<div class="form-group">
											<div class="custom-control custom-checkbox small">
												<input type="checkbox" class="custom-control-input"
													id="customCheck"> 
													<label class="custom-control-label" for="customCheck">Remember	Me</label>
											</div>
										</div>
										<button class="btn btn-primary btn-user btn-block"
											method="post" th:action="@{/index}">Login</button>
										<hr>

									</form>
									<hr>
									<div class="text-center">
										<a class="small" href="forgot-password.html"
											th:href="@{/index.html}">Forgot Password?</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{/login}" data-toggle="modal"
											data-target="#createAccountModal">Create an Account! </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- Create Account Modal-->
	<div th:replace="fragments/createaccount_modal :: createaccount_modal"></div>
	<!-- Bootstrap core JavaScript-->
	<div th:replace="fragments/common_javascript :: javascript"></div>

</body>

</html>