<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/common_css :: header"></div>
<title>LB_Youtube_影片清單</title>
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/common_sidebar :: sidebar"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/common_topbar :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="row">
						<h1 class="h3 mb-2 text-gray-800 col">音樂清單</h1>
					</div>


					<!-- DataTales Example -->
					<div class="card shadow mb-4">

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>清單名稱</th>
											<th>說明</th>
											<th>上次更新時間</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="videos:${videolist}">
											<td><a class="link"
												th:href="@{/mycollection/videolist/{listid}(listid=${videos.listId})}"><span
													th:text="${videos.listName}"></span></a></td>
											<td th:text="${videos.list_comment}"></td>
											<td th:text="${videos.update_at}"></td>

										</tr>

									</tbody>
								</table>
								<nav aria-label="Page navigation example">
									<div th:if="${videolist.getTotalPages() eq 0}">
										<ul class="pagination justify-content-end">
											<li>無資料</li>
										</ul>
									</div>
									<div th:if="${videolist.getTotalPages() gt 0}">
										<div class="dataTables_info" id="table_info">當前第
											[[${videolist.getNumber()+1}]] 頁 總計 [[${videolist.getTotalPages()}]] 頁 共 [[${videolist.getTotalElements()}]] 個清單 :</div>

										<ul class="pagination justify-content-end">
											<!-- 首页 -->
											<li><a
												th:href="@{/mycollection/list/{id}(pageNum=0,id=${session.loginUser.memberid})}">首頁
											</a></li>
											<!-- previous -->
											<li class="page-item disabled"
												th:if="${videolist.hasPrevious()}"><a
												th:href="@{/mycollection/list/{id}(pageNum=${videolist.previousPageable().getPageNumber()},id=${session.loginUser.memberid})}"
												th:text="上一頁  "></a></li>
											<!-- Middle -->
											<li
												th:each="pageNum:${#numbers.sequence(0, videolist.getTotalPages() - 1)}">
												<a
												th:href="@{/mycollection/list/{id}(pageNum=${pageNum},id=${session.loginUser.memberid})}"
												th:text="${pageNum + 1}"
												th:if="${pageNum ne videolist.pageable.getPageNumber()}"></a>
												<a
												th:href="@{/mycollection/list/{id}(pageNum= ${pageNum},id=${session.loginUser.memberid})}"
												th:text="${pageNum + 1}"
												th:if="${pageNum eq videolist.pageable.getPageNumber()}"
												th:style="'font-weight:bold;background: #6faed9;'"></a>
											</li>

											<!-- nexy -->
											<li th:if="${videolist.hasNext()}"><a
												th:href="@{/mycollection/list/{id}(pageNum=${videolist.nextPageable().getPageNumber()},id=${session.loginUser.memberid})}"
												th:text="  下一頁"></a></li>

											<!-- final -->
											<li><a
												th:href="@{/mycollection/list/{id}(pageNum=${videolist.getTotalPages() - 1},id=${session.loginUser.memberid})}">
													末頁</a></li>

										</ul>
								</nav>
							</div>
						</div>
					</div>

				</div>

				<!-- End Page Content -->


				<!-- End of Main Content -->

				<!-- Footer -->
				<div th:replace="fragments/common_footer :: footer"></div>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->
		</div>
	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<div class="modal fade" id="editListComment_modal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">編輯清單說明</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>

				</div>
				<form class="videolist"
					th:action="@{/edit/{id}/comment(id= ${session.loginUser.memberid})}"
					method="post">
					<div class="modal-body">


						<h3>說明內容:</h3>

						<input type="text" class="form-control" aria-label="Large"
							name="listComment" aria-describedby="inputGroup-sizing-sm">

					</div>

					<div class="modal-footer">

						<button class="btn btn-primary" type="submit">
							<span aria-hidden="true">新增</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Logout Modal-->
	<div th:replace="fragments/logout_modal :: logout_modal"></div>
	
	<!-- Bootstrap core JavaScript-->
	<div th:replace="fragments/common_javascript :: javascript"></div>
</body>

</html>