<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">
 		<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled " id= "accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/mycollection/{id}(id= ${session.loginUser.memberid})}">
                
                 <img th:src="@{/img/LB.png}" width="50" height="50">
                
                <div class="sidebar-brand-text mx-3">LB_YTMusic</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - MainPage -->
            <li class="nav-item active">
                <a class="nav-link"  th:href="@{/index}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>MainPage</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">介面</div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mycollection/{id}(id= ${session.loginUser.memberid})}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>我的收藏</span>
                </a>
           </li>

           
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">編輯項目</div>
           
            <!-- Nav Item - AddVideo -->
            <!-- 
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addmusic}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>新增影音</span></a>
            </li>
 			-->
            <!-- Nav Item - VideoListEdit -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/videolist/{id}(id= ${session.loginUser.memberid})}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>音樂清單</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0 " id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card">
                <img class="sidebar-card-illustration mb-2" th:src="@{/img/LB.png}" width="60" height="60">
                <p class="text-center mb-2"><strong>LB_YT</strong> is your custom youtube video player list</p>           
            </div>

        </ul>
        <!-- End of Sidebar -->
</div>
</html>